.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


.navbar-brand img {
  width: 50px;
  margin: 0 8px;
}

.nav-item {
  font-size: 1.25rem;
}

.nav-list-cont {
  width: 100%;
}

.navbar {
  padding: 8px;
}
